.about { 
    display: flex;
    flex-direction: column;
    gap: 1em;

    font-weight: 200;

    &__desc {
        max-width: 600px;
    }

    @media (min-width: 1180px) {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 0;

        &__photo {
            width: 40%;
        }
    
        &__desc {
            flex: 0 0 30%
        }
    }
}